<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Poem</title>
    <link rel="stylesheet" href="static/CSS/style.css">
</head>
<body>
<header>
    <h1>Dự án Tin học giữa kì 2 12A4</h1>
    <nav>
        <ul class="navbar">
            <li><a href="#group-intro">Group Introduction</a></li>
            <li><a href="#author">Author</a></li>
            <li><a href="#english">English Version</a></li>
            <li><a href="#french">Version française</a></li>
            <li><a href="#des">Description</a></li>
            <li><a href="#credits">Credits</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#video">Video</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="group-intro" class="content">
        <h1 align="center">Nhóm 7 Tin học giữa kì 2 lớp 12A4</h1>
        <h2 align="center">Lê Đình Khôi, Nguyễn Quang Minh, Tô Kim Hoàng, Vũ Ngọc Hưng, Nguyễn Gia Khánh</h2>
        <h2 align="center">Mừng Đại hội XIV Đảng Cộng Sản Việt Nam và ngày lễ bầu cử Đại biểu Quốc hội và Hội đồng Nhân Dân</h2>
    </section>
    <section id="author" class="content hidden">
        <h2 align="center">Tác giả</h2>
        <article class="author-container">
            <figure class="authorphoto">
            <img src="static/photo/KLD.jpg">
            <figcaption>Lê Đình Khôi</figcaption>
        </figure>
        <div class="authorinfo">
            <ul>
                <li>Tên: Lê Đình Khôi</li>
                <li>Ngày sinh: 28/11/2008</li>
                <li>Trường: THPT Chuyên Ngoại Ngữ</li>
             </ul>
        </div>
        </article>
    </section>

    <section id="french" class="content hidden">
        <h2 align="center">Te souviens-tu?</h2>
        <div class="poem-layout">
            <div class="poem-text">
                <p>Te souviens-tu, quand naquit cette terre,<br>
                   Par les rois Hùng, pleine de fierté,<br>
                   Où peuples libres levèrent la bannière<br>
                   D’un sud paisible, mais prêt à lutter?<br>
                   À travers l’histoire, on n’a jamais cherché gloire,<br>
                   Mais indépendance, la liberté, le bonheur<br>
                   Frère, on se bat pour plus qu’une de mémoire<br>
                   Toi citoyen … t’en souviens-tu?<br><br>
        
                   Te souviens-tu, l’an neuf cent trente-huit<br>
                   Où Chinois vint brûler nos maisons<br>
                   Mais que nos terres, nos cœurs, notre peuple,<br>
                   Ont résisté sans plier le front?<br>
                   Paysans, soldats, nobles d’une guerre<br>
                   Tous unis, refusant d’être vaincus<br>
                   On les a repoussé de nos rivières<br>
                   Soldat d’hier … t’en souviens-tu?<br><br>
        
                   Te souviens-tu des tranchées sous les balles<br>
                   Où Điện Biên Phủ vit le courage se lever?<br>
                   Cinquante-six jours, une âme nationale<br>
                   Dans la boue, nos morts ont tout donné.<br>
                   Là, le monde vit naître un vrais pays <br>
                   Qui se dressa, fort, juste et ingénieuse<br>
                   Le Vietnam, dans l’acier et le bruit,<br>
                   Camarades … t’en souviens-tu?<br><br>
        
                   Te souviens-tu la citadelle rouge de Quảng Trị<br>
                   Où nos garçons tombèrent sans rempart,<br>
                   Victimes de bombardements de haut, trop secs,<br>
                   Et gravés pour toujours dans nos regards?<br>
                   Ces jours-là, le sang versé fuit notre leçon,<br>
                   Et le devoir de ne plus être deçus<br>
                   On s’est promis un jour d’avoir raison,<br>
                   Homme tombé ... dis t’en souviens-tu?<br><br>
        
                   Te souviens-tu du trente avril<br>
                   Quand Saigon vit l’aube d’un jour fatal?<br>
                   Nos jeunes marcher, sans peur ni répit,<br>
                   À travers les rues du Saigon.<br>
                   Ils avancent, non pour conquérir,<br>
                   Mais pour brisé le joug des abus<br>
                   Ils mourrait pour faire l’avenir,<br>
                   Mon ami … t’en souviens-tu?<br><br>
        
                   Te souviens-tu des fleurs d’un autre printemps<br>
                   Dans les rues du Cambodge étranglé,<br>
                   Où les enfants criaient “Merci!” en chantant, <br>
                   À ceux venus la faim soulager?<br>
                   Les Vietnamiens, porteurs de lumière<br>
                   Ont libéré, sans jamais être rudes<br>
                   On a semé la paix comme une prière<br>
                   Vétéran … t’en souviens-tu?<br><br>
        
                   Moi, je me tiens sous ce ciel immense<br>
                   Où l’épreuve forge la force des bras,<br>
                   Et je vois clairs dans cette déchéance<br>
                   Qui chez nos voisins tord chaque pays<br>
                   Mais nous tiendrons, libres et lucides<br>
                   Fidèles aux serments jamais rompus<br>
                   Car le Vietnam n’a pas timide<br>
                   Il se souvient … et va vers l'inconnu.<br><br>
                </p>
                <a href="#author" align="right" class="author-link" onclick="showauthor">Lê Đình Khôi</a>
            </div>
            <div class="poem-image">
                <img src="static/photo/Screenshot_21-2-2026_211632_www.bing.com.jpeg">
                <figcaption>Drapeau vietnamien</figcaption>
            </div>
        </div>
    </section>
    <section id="english" class="content hidden">
        <h2 align="center">Do you remember?</h2>
        <div class="poem-layout">
            <div class="poem-text">
                <p>Do you remember when this land was born,<br>
                   By the Hùng kings, full of pride,<br>
                   Where free people raise the banner<br>
                   Of a peaceful south, yet ready to fight?<br>
                   Throughout history, we never sought glory,<br>
                   But independence, freedom, happiness<br>
                   Brother, we fought for more than just a memory<br>
                   You, citizen … do you remember?<br><br>
                   
                   Do you remember the year nine hundred and thirty eight<br>
                   When the Chinese came to burn our homes,<br>
                   But our lands, our hearts, our people,<br>
                   Resisted without bowing our heads?<br>
                   Peasants, soldiers, nobles of a war<br>
                   All united, refusing to be defeated,<br>
                   We drove them back from our rivers<br>
                   Soldier of yesterday … do you remember?<br><br>
                   
                   Do you remember the trenches under fire<br>
                   Where Điện Biên Phủ saw the courage rise<br>
                   Fifty-six days, a national soul<br>
                   In the mud, our dead gave their all.<br>
                   There, the world saw a true country born<br>
                   That stood, strong, just and smart<br>
                   Vietnam, in steel and noise<br>
                   Comrades … do you remember?<br><br>
                   
                   Do you remember the red citadel of Quảng Trị,<br>
                   Where our men fell without cover,<br>
                   Victims of bombardments from above, too cold,<br>
                   And forever etched in our gaze?<br>
                   These days, bloodshed is our lesson,<br>
                   And the duty to never again be let down<br>
                   We swore one day we’d be right.<br>
                   Fallen man ... tell me, do you remember?<br><br>
                   
                   Do you remember the thirtieth of April,<br>
                   When Saigon saw the dawn of a fateful day?<br>
                   Our young marched, without fear or rest,<br>
                   Through the streets of Saigon.<br>
                   They marched on, not to conquer<br>
                   But to break the yoke of abuse<br>
                   They died to shape the future,<br>
                   My friend … do you remember?<br><br>
                   
                   Do you remember the flowers of another spring<br>
                   In the streets of the strangled Cambodia,<br>
                   Where children cried “Thank you!” in song<br>
                   To those who came to ease their hunger?<br>
                   The Vietnamese, bearers of light,<br>
                   Freed without ever being harsh<br>
                   We sowed peace like a prayer<br>
                   Veteran … do you remember?<br><br>
                   
                   I stand beneath this vast sky<br>
                   Where hardship forges the force of arms,<br>
                   And I see clearly in this decay<br>
                   That twists every country across our border.<br>
                   But we will hold firm, free and clear-headed,<br>
                   Faithful to vows never broken<br>
                   Because Vietnam is not timid<br>
                   We remember … and march into the unknown.<br><br>
                </p>
                <a href="#author" align="right"class="author-link" onclick="showauthor">Lê Đình Khôi</a>
            </div>
            <div class="poem-image">
                <img src="static/photo/Screenshot_21-2-2026_211632_www.bing.com.jpeg">
                <figcaption>Vietnamese flag</figcaption>
            </div>
        </div>
    </section>

    <section id="des" class="content hidden">
        <h2 align="center">Tóm tắt bài thơ</h2>
        <div class="poem-layout">
            <div class="poem-text">
                <p>Bài thơ "Te souviens-tu" (Tiếng Pháp), hay là "Do you remember" (Tiếng Anh) và "Bạn có nhớ không?" (Tiếng Việt) là bài thơ của Lê Đình Khôi, học sinh lớp 12A4, THPT Chuyên Ngoại Ngữ, viết về lịch sử đất nước Việt Nam. Bài thơ đưa ta qua những thăng trầm lịch sử, từ thời vua Hùng, qua các sự kiện lịch sử như chiến thắng Bạch Đăng (938), chiến thắng Điện Biên Phủ (1954), Trận thành cổ Quảng Trị (1972), Giải phóng miền Nam (1975), Chiến thắng Khmer Đỏ (1979), từ đó ngẫm lại về lịch sử và hướng tới tương lai dân tộc.</p>
            </div>
            <div class="poem-image">
                <img src="static/photo/Screenshot_21-2-2026_211632_www.bing.com.jpeg">
                <figcaption>Lá cờ Việt Nam</figcaption>
            </div>
        </div>
    </section>

    <section id="credits" class="content hidden">
        <h2 align="center">Credits</h2>
        <ul>
            <li>Nhóm trưởng: Nguyễn Quang Minh</li>
            <li>HTML: Lê Đình Khôi, Tô Kim Hoàng</li>
            <li>CSS: Nguyễn Ngọc Hưng, Nguyễn Gia Khánh</li>
            <li>Thuyết trình: Cả nhóm</li>
        </ul>
    </section>

    <section id="contact" class="content hidden">
        <h2 align="center">Liên hệ với tác giả</h2>
        <form action="{{ url_for('contact') }}" method="post">
            <label for="name">Tên:</label>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
            <button type="submit">Gửi</button>
        </form>
    </section>
    <section id="video" class="content hidden">
        <h2 align="center">Tác phẩm cảm hứng (cho vào cho đỡ bị bốc phốt)</h2>
        <div class="video-container">
            <iframe 
            width="100%" 
            height="450"
            src="https://www.youtube.com/embed/15V3Hd2AmWI"
            title="YouTube video player"
            frameborder="0"
            allowfullscreen>
        </iframe>
        <caption align="center">Nhạc của kênh YouTube Canadian Dominion, nơi mình lấy cảm hứng cho bài thơ</caption>
    </section>
</main>
<footer>
    <p>Bài giữa kỳ 2 tin học</p>
</footer>
<script>
    const links = document.querySelectorAll("a[href^='#']");
    const sections = document.querySelectorAll(".content");

    links.forEach(link => {
     link.addEventListener("click", function(event) {
        event.preventDefault();

        const targetId = this.getAttribute("href").substring(1);

        // Hide all sections
        sections.forEach(section => {
            section.classList.add("hidden");
        });

        // Show selected section
        const targetSection = document.getElementById(targetId);
        if (targetSection) {
            targetSection.classList.remove("hidden");
        }
        function showAuthor() {
            document.getElementById("author").classList.remove("hidden");
            document.getElementById("author").scrollIntoView({ behavior: "smooth" });
        }
    });
});
</script>
</body>
</html>